<div class="container">
  <h1>edit your profile</h1>

  <%# TODO: display the skills and proficiency levels for each user ... %>
  <ul>
  <form name="input" action="/edit" method="post">
  <li>Skill: <input type="text" name="user"></li>
  <li><input type="radio" name="context" value="tech">Technical</li>
  <li><input type="radio" name="context" value="create">Creative</li>
  <li>years of experiance: <input type="text" name="years"></li>
  <li>Formal educated: <input type="checkbox" name="formal"></li>
  <li><input type="submit" value="Submit"></li>
  </form>
</ul>

</div>

